/* 
	Version 1.0 Flash Code Editor Design
	Copyright Flash 2018 - 19
	Autor: Brian Turza

*/.div_main {background-color: black;}.code_main {}.span-main {color:#000000;}.include {color:green;}.comment {color:#686868;}.import {color:#dead00;}.main_func {color:#babe00;}.normal {color:lightblue;}.inq {color:#d3ffce;}.line {color:#191919;}.tag {color:yellow;}.func {color:#0dc4e0;}.equals {color:#b20000;}.symbol {color:red;}.tab {margin-right:10px;}.num {color:orange;}.type_console {color:#5ac18e;}
